<div class="flex flex-col md:flex-row px-4 py-5 border-b border-b-[#f2f3f4]">
    <div class="flex-1 flex items-center">
        <div class="w-12 h-12 flex-shrink-0">
            <img
                class="object-cover w-full h-full rounded-full"
                src="{{ item.imageUrl }}"
                alt="{{ item.name }}"
            />
        </div>
        <div class="ml-4">
            <a href="app/forum/{{ item.id }}/">
                <h3 class="text-lg font-semibold">{{ item.name }}</h3>
            </a>
            <p>{{ item.description }}</p>
        </div>
    </div>
    <div class="flex-1 mt-4 md:mt-0 md:ml-4">
        <ul class="flex text-right text-sm">
            <li style="flex-basis: 25%">{{ getTotalTopics }}</li>
            <li style="flex-basis: 25%">{{ getTotalComments }}</li>
            <li class="flex flex-1 flex-col justify-start items-end">
                <a
                    href="app/forum/{{ item.id }}/topicId"
                    class="text-sm text-gray-500"
                >
                    {{ item.createdAt | timeago }}
                </a>
                <div class="flex justify-end items-center mt-2">
                    <a
                        href="app/user/{{ item.user.id }}"
                        class="flex items-center text-sm text-gray-500"
                    >
                        <span class="mr-2">{{ item.user.name }}</span>
                        <img
                            class="w-8 h-8 rounded-full"
                            [src]="item.user.imageUrl"
                            [alt]="item.user.name"
                        />
                    </a>
                </div>
            </li>
        </ul>
    </div>
</div>
