<div class="flex items-center h-screen">
    <div class="max-w-[520px] w-full mx-auto">
        <div class="text-center">
            <h3 class="text-2xl text-secondary font-semibold mb-4">
                Conta de login
            </h3>
            <p class="text-sm">
                Não tem uma conta ainda?
                <a class="font-medium text-secondary" href="/sign-up"
                    >Faça login aqui</a
                >
            </p>
        </div>
        <div id="reg-form-validation-messages" class="pt-5 pb-5"></div>
        <form
            [formGroup]="userForm"
            (submit)="onSubmit()"
            class="flex-1 w-full"
        >
            <div class="mb-5 relative flex flex-col w-full">
                <label for="username" class="inline-block text-secondary mb-1">
                    Nome de usuário</label
                >
                <input
                    id="username"
                    formControlName="username"
                    type="text"
                    class="bg-[#fbfcfd] rounded px-7 py-[12px] text-sm transition-all border border-[#e3e8ea] outline-none shadow-none flex-1"
                    placeholder="Seu usuário"
                />
                <div
                    *ngIf="
                        userForm.get('username')?.invalid &&
                        userForm.get('username')?.touched
                    "
                    class="text-red-500"
                >
                    Usuário é obrigatorio.
                </div>
            </div>

            <div class="mb-5 relative flex flex-col w-full">
                <label for="password" class="inline-block text-secondary mb-1">
                    Senha
                </label>
                <input
                    id="password"
                    formControlName="password"
                    type="password"
                    class="bg-[#fbfcfd] rounded px-7 py-[12px] text-sm transition-all border border-[#e3e8ea] outline-none shadow-none flex-1"
                    placeholder="Sua senha"
                />
                <div
                    *ngIf="
                        userForm.get('password')?.invalid &&
                        userForm.get('password')?.touched
                    "
                    class="text-red-400 text-sm px-3 py-1"
                >
                    Senha é obrigatorio.
                </div>
            </div>

            <div class="col-lg-12 text-center">
                <button
                    type="submit"
                    class="rounded bg-[#10b3d6] px-6 py-2 text-center border-0 transition-all text-white {{
                        userForm.invalid
                            ? 'bg-opacity-60 cursor-not-allowed'
                            : ''
                    }}"
                >
                    Entrar
                </button>
            </div>
        </form>
    </div>
</div>
