<section class="bg-[#f0f5f7] z-[1] relative py-4">
    <div class="container mx-auto">
        <div class="flex items-center justify-between text-sm">
            <div class="col-sm-8 col-md-9">
                <nav aria-label="breadcrumb">
                    <ol class="flex items-center gap-3">
                        <li class="text-[#878ea6]">
                            <a href="/" class="bbp-breadcrumb-home">Home</a>
                        </li>
                        <li class="text-[#878ea6]">></li>
                        <li class="text-[#1d2746]">Forums</li>
                    </ol>
                </nav>
            </div>
            <div class="col-sm-4 col-md-3">
                <span class="text-[#878ea6] float-right">
                    <i class="icon_clock_alt"></i>
                    Updated on September 24, 2020
                </span>
            </div>
        </div>
    </div>
</section>
