<section class="bg-[#f0f5f7] z-[1] relative py-4">
    <div class="container mx-auto">
        <div class="flex items-center justify-between text-sm">
            <div class="col-sm-8 col-md-9">
                <nav aria-label="breadcrumb">
                    <ol
                        *ngIf="breadcrumbs$ | async as breads"
                        class="flex items-center gap-3"
                    >
                        <li
                            *ngFor="let breadcrumb of breads"
                            class="text-[#878ea6]"
                        >
                            <a
                                [href]="breadcrumb.url"
                                class="bbp-breadcrumb-home"
                                >{{ breadcrumb.label }}</a
                            >
                            <span
                                class="ml-2"
                                *ngIf="
                                    breads != undefined &&
                                    breads.length > 0 &&
                                    breadcrumb !== breads[breads.length - 1]
                                "
                                >></span
                            >
                        </li>
                    </ol>
                </nav>
            </div>
            <div class="col-sm-4 col-md-3">
                <span class="text-[#878ea6] float-right">
                    <i class="icon_clock_alt"></i>
                    Updated on September 24, 2020
                </span>
            </div>
        </div>
    </div>
</section>
