<div
    class="flex justify-between p-4 text-left bg-[#f7f8f9] border-[#eaeeef] border rounded-t-md"
>
    <div class="flex-1">
        <span>Fórum</span>
    </div>
    <div class="flex-1">
        <ul class="flex justify-end text-right text-sm">
            <li style="flex-basis: 25%">Tópicos</li>
            <li style="flex-basis: 25%">Respostas</li>
            <li class="flex-1">Última postagem</li>
        </ul>
    </div>
</div>
<div class="rounded-lg overflow-hidden shadow-forum">
    <app-list-item-forum />
    <app-list-item-forum />
    <app-list-item-forum />
</div>
