<div class="container mx-auto pt-24">
    <div class="flex flex-wrap gap-10">
        <div class="flex-1 min-w-[200px]">
            <!-- Header Usuario -->
            <div class="flex-1 flex items-center">
                <div class="w-12 h-12 flex-shrink-0">
                    <a
                        href="app/forum/user/ID"
                        class="flex items-center text-sm text-gray-500"
                    >
                        <img
                            class="w-11 h-w-11 rounded-full"
                            src="https://secure.gravatar.com/avatar/29bcdc9972fc678d8c132abc15cce0a8?s=45&d=mm&r=g"
                            alt=""
                        />
                    </a>
                </div>
                <div class="ml-4">
                    <a href="app/forum/user/ID">
                        <h3 class="font-semibold text-secondary mb-2">
                            User Name
                        </h3>
                    </a>
                    <ul class="flex gap-6 items-center text-sm text-[#838793]">
                        <li class="flex gap-2 items-center">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                class="h-5"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5"
                                />
                            </svg>

                            <span>June 15, 2021 at 7:40 am</span>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Conteudo -->
            <div class="flex pt-10 pb-1 pl-4">
                <span class="text-secondary text-5xl mr-4 font-semibold"
                    >T:</span
                >
                <h1 class="text-3xl text-secondary font-semibold">
                    how compile SCSS
                </h1>
            </div>

            <div class="pl-16">
                <div class="content">
                    <p>Hello,</p>
                    <p>
                        We try to use the SCSS files, have you some script o
                        package.json config to compile the scss files?
                    </p>
                    <p>Thanks</p>
                </div>
                <div class="forum-post-btm">
                    <div class="taxonomy forum-post-tags">
                        <i class="icon_tags_alt"></i>
                        <strong>Tagged:</strong>&nbsp;
                        <span class="tags"
                            ><a
                                href="https://wordpress-theme.spider-themes.net/docly/forums/topic-tag/html/"
                                rel="tag"
                                >HTML</a
                            >,
                            <a
                                href="https://wordpress-theme.spider-themes.net/docly/forums/topic-tag/scss/"
                                rel="tag"
                                >SCSS</a
                            ></span
                        >
                    </div>
                    <div class="taxonomy forum-post-cat">
                        <img
                            width="20"
                            height="20"
                            src="https://wordpress-theme.spider-themes.net/docly/wp-content/uploads/2020/07/rc14-20x20.png"
                            class="attachment-docly_20x20 size-docly_20x20 wp-post-image"
                            alt="rc14"
                            decoding="async"
                            sizes="(max-width: 20px) 100vw, 20px"
                        />
                        <a
                            href="https://wordpress-theme.spider-themes.net/docly/forums/forum/approach-html-template/"
                        >
                            Approach HTML Template
                        </a>
                    </div>
                </div>
                <div class="action-button-container action-btns"></div>
            </div>

            <!-- Comentarios -->

            <!-- Input Comentario -->
        </div>
    </div>
</div>
