<p class="text-[19px] text-secondary font-semibold">
    {{ "@" + getUserShared.getUser()?.usuario }}
</p>
<p class="text-[28px] text-secondary font-semibold">Perfil</p>
<p>
    Registrado:
    {{
        getUserShared.getUser()?.createdAt == undefined
            ? ""
            : (getUserShared.getUser()?.createdAt | timeago)
    }}
</p>
<div class="bg-gray-200 h-[1px] w-full px-2 my-4"></div>
<p class="text-[28px] text-secondary font-semibold">Fóruns</p>
<p>Última atividade: -</p>
<p>Tópicos iniciados: {{ getUserShared.getUser()?._count?.topics ?? 0 }}</p>
<p>Respostas criadas: {{ getUserShared.getUser()?._count?.Comment ?? 0 }}</p>
<p>Função no Fórum: Participante</p>
