/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

// regular style toast
@import 'ngx-toastr/toastr';

@import "~quill/dist/quill.core.css";
@import "~quill/dist/quill.snow.css";

@import "~quill-emoji/dist/quill-emoji.css";

body {
    line-height: 1.7;
    font-size: 16px;
    height: 100%;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #6b707f;
}

.th-header {
    @apply dark:bg-[#2c303a] bg-[#f7f8f9] border-[#eaeeef] dark:border-[#4d4d4d] border
}

.td-border-b {
    @apply border-[#f2f3f4] dark:border-[#4d4d4d] border-b
}
